<!DOCTYPE html>
<html lang="en">
<%- include('../partials/page-header') %>
<body class="main-body leftmenu">
<div id="app">
    <div class="wrapper">

	<div class="wrapper">
		<div class="container p-0">
		   <div class="row no-gutters height-self-center">
			  <div class="col-sm-12 text-center align-self-center">
				 <div class="iq-error position-relative">
					<img src="images/error/404.png" class="img-fluid iq-error-img" alt="">
					<h2 class="mb-0 mt-4">Oops! This Page is Not Found.</h2>
					<p>The requested page dose not exist.</p>
					<a class="btn btn-primary mt-3" href="/system/home"><i class="ri-home-4-line"></i>Back to Home</a>                            
				 </div>
			  </div>
		   </div>
		</div>
	 </div>
    </div>
</div>
<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>
<%- include('../partials/scripts')  %>
</body>
</html>
