<div class="main-content side-content pt-5">
    <div class="container-fluid">
        <div class="inner-body">
            <!-- Page Header -->
            <div class="page-header sticky-header">
                <div>
                    <h2 class="main-content-title tx-24 mg-b-5">
                        <%= pageTitle%>
                    </h2>
                    <%- include('../partials/breadcrumb') %>
                </div>
            </div>
        
            <div class="sticky-row">
                <div class="row">
                    <div class="col-12">
                        <div class="card custom-card ext-scrol">
                            <div class="card-body">
                                <%- include('../partials/messages')  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>