<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="IWI - MYPLACE">
    <meta name="author" content="IWI ekbana Private Limited">
    <meta name="keywords"
          content="iwi,MYPLACE,">
    <meta name="google" content="notranslate">
    <link rel="icon" href="/backend/assets/img/template/icons&logo/logo-mini.svg" type="image/x-icon"/>
    <title><%= cmsTitle %> <%= cmsTitleSeperator %> <%= pageTitle %></title>
    <meta name="csrf-token" content="<%- csrfToken %>">
    <link href="/backend/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/system.css" rel="stylesheet"/>
    <link href="/backend/assets/plugins/web-fonts/icons.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link href="/backend/assets/plugins/web-fonts/plugin.css" rel="stylesheet"/>
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/backend/assets/css/colors/color.css">
    <link href="/backend/assets/plugins/select2/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/backend/assets/plugins/toast/jquery.toast.min.css">
    <link href="/backend/assets/css/sidemenu/sidemenu.css" rel="stylesheet">
    <!--Bootstrap-datepicker css-->
    <link rel="stylesheet" href="/backend/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css">

    <!-- Internal Datetimepicker-slider css -->
    <link href="/backend/assets/plugins/daterangepicker-master/daterangepicker.css" rel="stylesheet">
    <link href="/backend/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">
       <!-- <link href="/backend/assets/css/template.css" rel="stylesheet"> -->
    <!--    <link href="/backend/assets/css/style.css" rel="stylesheet">-->
    <script src="/backend/assets/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
</head>