<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Monkey Muzic">
    <meta name="author" content="Monkey Muzic">
    <meta name="keywords"
          content="Monkey Muzic">
    <meta name="google" content="notranslate">
    <link rel="icon" href="/backend/assets/img/music-monkey.png" type="image/gif"/>
    <title><%= cmsTitle %> <%= cmsTitleSeperator %> <%= pageTitle %></title>
    <meta name="csrf-token" content="<%- csrfToken %>">
    <link rel="shortcut icon" href="/backend/assets/img/headphones.png" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/backend/assets/css/bootstrap.min.css">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="/backend/assets/css/typography.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="/backend/assets/css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="/backend/assets/css/responsive.css">

   <script src="/backend/assets/js/jquery.min.js"></script>
   <script src="/backend/assets/js/popper.min.js"></script>
   <script src="/backend/assets/js/bootstrap.min.js"></script>

</head>