<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="cv cms portfolio">
    <meta name="author" content="cv cms portfolio">
    <meta name="keywords"
          content="cv cms portfolio">
    <meta name="google" content="notranslate">
    <link rel="icon" href="/backend/assets/img/cv-resume-portfolio.webp" type="image/gif"/>
    <title><%= cmsTitle ?? '' %> <%= cmsTitleSeperator??'' %> <%= pageTitle ?? ''  %></title>
    <meta name="csrf-token" content="<%- csrfToken %>">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/backend/assets/css/bootstrap.min.css">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="/backend/assets/css/typography.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="/backend/assets/css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="/backend/assets/css/responsive.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <script src="/backend/assets/js/jquery.min.js"></script>
   <script src="/backend/assets/js/popper.min.js"></script>
   <script src="/backend/assets/js/bootstrap.min.js"></script>

</head>