<head>
      <meta charset="utf-8">

      <!-- Always force latest IE rendering engine -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <!-- Mobile Specific Meta -->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta name="description" content="DESCRIPTION">
      <meta name="keywords" content="KEYWORDS">
      <meta name="author" content="AUTHOR NAME">

      <!-- TITLE -->
      <title>Personal Resume / CV / Portfolio</title>

      <!-- FAVICON -->
      <link href="/frontend/img/favicon/favicon.ico" rel="icon">
    
      <link rel="apple-touch-icon" sizes="144x144" href="http://joker-themes.com/saadia-demo/demos/light-demo/particle-background/img/favicon/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="114x114" href="http://joker-themes.com/saadia-demo/demos/light-demo/particle-background/img/favicon/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="http://joker-themes.com/saadia-demo/demos/light-demo/particle-background/img/favicon/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" href="http://joker-themes.com/saadia-demo/demos/light-demo/particle-background/img/favicon/apple-touch-icon.png">
      <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
      <!-- BOOTSTRAP CSS -->
      <link rel="stylesheet" href="/frontend/css/bootstrap/bootstrap.min.css">

      <!-- FONT-AWESOME CSS -->
      <link rel="stylesheet" href="/frontend/css/font-awesome/css/font-awesome.min.css">

      <!-- MALIHU CUSTOM SCROLLBAR CSS -->
      <link rel="stylesheet" href="/frontend/css/jquery.mCustomScrollbar.min.css" />

      <!-- OWL CAROUSEL -->
      <link href="/frontend/css/owl-carousel/owl.carousel.min.css" rel="stylesheet">
      <link href="/frontend/css/owl-carousel/owl.theme.default.min.css" rel="stylesheet">

      <!-- MAGNIFIC POPUP CORE CSS -->
      <link href="/frontend/css/magnific-popup/magnific-popup.css" rel="stylesheet">

      <!-- MAIN STYLE CSS -->
      <link rel="stylesheet" href="/frontend/css/style.css">

      <!-- RESPONSIVE CSS -->
      <link rel="stylesheet" href="/frontend/css/responsive.css">
      <link rel="stylesheet" href="/frontend/css/colors/main-color.css">

      <link rel="stylesheet" href="/frontend/js/toast/jquery.toast.min.css">

      
      <!-- CUSTOM COLORS -->
      <!--
      <link rel="stylesheet" href="/frontend/css/colors/blue.css">
      <link rel="stylesheet" href="/frontend/css/colors/green.css">
      <link rel="stylesheet" href="/frontend/css/colors/orange.css">
      <link rel="stylesheet" href="/frontend/css/colors/red.css">
      <link rel="stylesheet" href="/frontend/css/colors/yellow.css">
      -->

  </head>