<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="personal cv cms view page Portfolio">
    <meta name="keywords" content="cv cms Portfolio ">
    <meta name="author" content="bizen.mdhr">
    <!-- TITLE -->
    <title>Personal Resume / CV / Portfolio</title>
    <!-- FAVICON -->
    <link href="/frontend/img/favicon/favicon.ico" rel="icon">
    <!-- <link rel="apple-touch-icon" sizes="144x144" href=>
      <link rel="apple-touch-icon" sizes="114x114" href=>
      <link rel="apple-touch-icon" sizes="72x72" href=>
      <link rel="apple-touch-icon" href=> -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/frontend/css/bootstrap/bootstrap.min.css">

    <!-- FONT-AWESOME CSS -->
    <link rel="stylesheet" href="/frontend/css/font-awesome/css/font-awesome.min.css">

    <!-- MALIHU CUSTOM SCROLLBAR CSS -->
    <link rel="stylesheet" href="/frontend/css/jquery.mCustomScrollbar.min.css" />

    <!-- OWL CAROUSEL -->
    <link href="/frontend/css/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="/frontend/css/owl-carousel/owl.theme.default.min.css" rel="stylesheet">

    <!-- MAGNIFIC POPUP CORE CSS -->
    <link href="/frontend/css/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- MAIN STYLE CSS -->
    <link rel="stylesheet" href="/frontend/css/style.css">

    <!-- RESPONSIVE CSS -->
    <link rel="stylesheet" href="/frontend/css/responsive.css">
    <link rel="stylesheet" href="/frontend/css/colors/main-color.css">

    <link rel="stylesheet" href="/frontend/js/toast/jquery.toast.min.css">


</head>