<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="password">New password</label> <span style="color:red;">*</span>
        <input type="password" class="form-control" id="password"
        name="password" required
        minlength="<%= getCmsConfig(configData,'Minimum Password Length') %>">
        <div class="invalid-feedback">
            Please set Password
        </div>
    </div>   
    
    <div class="col-md-6 mb-3">
        <label for="confirmPassword"> Confirm New Password</label> <span style="color:red;">*</span>
        <input type="password" class="form-control" id="confirmPassword"
        name="confirm_password" required
        minlength="<%= getCmsConfig(configData,'Minimum Password Length') %>">
        <div class="invalid-feedback">
            Please set Confirm Password
        </div>
    </div> 
    
    <div class="col-md-6 mb-3">
            <label > Show password reset screen after login</label>
            <div class="col-md-1">
                <input type="checkbox" class="form-control" style="height: 15px !important;" name="show_reset_password">
            </div>
    </div>
</div>