//EUC page 1 css start
.folder-modal-body {
    .folder-select-section{
        padding-right: 0 !important;
        .folder-option {
            padding-right: 10px;
            &.active{ 
                background-color: #6259ca;
                color: #fff;
            }
        }
        
    }
}
.display-folder-content{
    overflow: hidden;
    .folder-content{
        i{
            display: flex;
            justify-content: center;
            font-size: 20px;
            margin-bottom: 5px;
        }
    }
    .folder-display{
        height: 275px;
        overflow: hidden;
        overflow-y: auto;
        p{
            margin: 0;
        }
        a {
            display: block;
            padding: 10px;
            &.active-folder{
                background-color: #6259ca;
                color: #fff; 
            } 
        }
    }
    .folder-information{
        height: 135px;
        overflow: hidden;
        overflow-y: auto;
        padding-right: 10px;
    }
    .folder-name{
        font-weight: 600;
        font-size: 15px;
    }
    .folder-location{
        opacity: 70%;
        font-size: 13px;
    }
}
.modal .modal-body .folder-text {
    margin-right: 0;
}
.modal .modal-footer .save-button {
    min-height: 38px;
}
.modal .modal-footer .create-button, .modal .modal-footer .save-button-folder, .modal .modal-footer .cancel-btn {
    min-height: 38px;
}
.slider-down .down-arrow{
    min-width: 98%;
    max-width: 98%;
    border-radius: 6px 6px 0 0;
}
.slider-down .slider-down-card-body{
    max-width: 98%;
}
.slider-down .new-card{
    min-width: 100%;
    max-width: 100%;
}
@media screen and(max-width:1680px) {
    .slider-down .down-arrow{
        min-width: 98%;
        max-width: 98%;
    }
    .slider-down .new-card{
        min-width: 100%;
        max-width: 100%;
    }
}
@media screen and(max-width:1600px) {
    .slider-down .down-arrow{
        min-width: 98%;
        max-width: 98%;
    }
    .slider-down .new-card{
        min-width: 100%;
        max-width: 100%;
    }
}
@media screen and(max-width:1400px) {
    .slider-down .down-arrow{
        min-width: 98%;
        max-width: 98%;
    }
    .slider-down .new-card{
        min-width: 100%;
        max-width: 100%;
    }
}
@media screen and(max-width:1366px) {
    .slider-down .down-arrow{
        min-width: 98%;
        max-width: 98%;
    }
    .slider-down .new-card{
        min-width: 100%;
        max-width: 100%;
    }
}
@media screen and(max-width:1280px) {
    .slider-down .down-arrow{
        min-width: 98%;
        max-width: 98%;
    }
    .slider-down .new-card{
        min-width: 100%;
        max-width: 100%;
    }
    .inner-body .nav-tabs .nav-link {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and(max-width:1152px) {
    .slider-down .down-arrow{
        min-width: 98%;
        max-width: 98%;
    }
    .slider-down .new-card{
        min-width: 100%;
        max-width: 100%;
    }
    .inner-body .nav-tabs .nav-link {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width:1024px){
    .inner-body .nav-tabs .nav-link {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .slider-down .down-arrow{
        min-width: 98%;
        max-width: 98%;
    }
    .slider-down .new-card{
        min-width: 100%;
        max-width: 100%;
    }
}

.nav-tabs-select{
    padding-top: 30px;
}
.content-buttons{
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1;
    width: -webkit-fill-available;
}
.right-content-card{
    border: none !important;
    .right-content {
        min-height: 687px;
        max-height: 687px;
        overflow-y: visible;
    }
}
.card-content{
    width: fit-content;
    min-width: 100%;
    background: #fff;
    margin-left: 15px;
}
.table-view{
    min-width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 75px !important;
    padding-right: 30px;

}
.euc-pagination{
    position: absolute;
    bottom: 0;
    width: 100%;

}
.search-button{
    border: none !important;
}
.pagination-btn{
    position: absolute;
    right: 0;
    z-index: 1;
    width: -webkit-fill-available;
    padding-left: 20px;
}
.search-button-top{
    background: transparent;
    color: gray;
    font-size: 12px;
    border: 1px solid #e8e8f7;
    border-left: none;
}
//EUC page 1 css end

//EUC page 2 css start

.inner-body{
    .left-card-content {
        .card-new{
            border-radius: 0;
            border-top: 1px solid #999999;

            .btn-organize{
                border-radius: 3px;
                max-height: 28px;
                font-size: 0.875rem;
            }
        }
        .popover-section{
            z-index: 9;
            .form-select{
                border: 1px solid #e8e8f7;
                opacity: 1;            
            }
            .popover-buttons{
                .button-pop{
                    border-radius: 3px;
                }
            }
        }
        .search-field{
            max-height: 29px;
        }
        .input-group-text {
            cursor: pointer;
            i{
                transform: rotate(0deg) !important;
            }
            &:hover{
                background-color: #fff;
                i{
                    color: #6259ca;;
                }
            }
        }
        .accordion-card {
            border-radius: 0;
            border-top: none;
            padding-top: 10px;
            .card-header{
                border: 0;
            }
            .accordion-a{
                padding: 7px !important;
                
            }
            .card-body{
                border: none;
                padding: 5px;
                padding-left: 20px;
                margin-bottom: 5px; 
                cursor:pointer;
                color:#6259ca;
                &.active{ 
                    background-color: #6259ca;
                    color: #fff;
                }
                &:hover{ 
                    background-color: #e1e1f9;
                    color: #6259ca;
                }       
            }
            
        }
        .option-body{
            height: 490px;
            overflow: hidden;
            overflow-y: auto;
        }
        .sub-accordion-card{
            padding-top: 0;
            border-top: none;
            border-radius: 0;
            
            .subAcc-a{
                background: transparent;
                color: #1d212f;
                opacity: 85%;
                padding: 5px 0px !important;
            }
        }
        .option{
            @media screen and(max-width:1366px) {
                font-size: 10px;
            }
        }
        
    } 
    .new-right-content-card{
        border: none !important;
    }
    .new-right-content{
        overflow-x: hidden;
        min-height: 698px;
        max-height: 698px;
        .input-group{
            width: 70%;
        }
        .table-body-new{
            border: 1px solid #999999;
            tr{
                border-bottom: 1px solid #999999;
                text-align: left;
                td{
                    .form-check{
                        margin-top: -12px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }            
        }
        
    }
}

.btn-danger{
    min-height: 26px;
    line-height: 1;
}
.top-content-buttons{
    position: absolute;
    top: 0;
    z-index: 1;
    left: 21px;
    right: 0;
    width: 95% !important;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding-top:24px;
    background-color: #fff;

    .input-group{
        margin-right: 90px;
    }
    .search-field-right{
        border-right: none;
        border-color: #999999;
        max-height: 29px;
    }
    .btn-search-right{
        background: transparent;
        border-left: none;
        margin-left: -2px;
        border: 1px solid #999999;
        max-height: 29px;
        background-color: #fff;
        
        i{
            color: #6259ca;
            font-size: 15px;
        }
        
    }
    
}
.new-right-content-card .pagination-div{
    left: 20px;
    width: 98%;
    background-color: #ffffff;
    padding: 10px;
    bottom: 33px;
    .b-pagination{
        margin-bottom: 0;
    }
}
.euc-accordion-body{
    height: 250px;
    overflow-y: auto
    }
.sort-down{
    height: 14px!important;
}
//EUC page 2 css end